<div data-test-editor-post-status ...attributes>
    {{#if this.isSaving}}
        保存中...
    {{else if @post.isSent}}
        Sent to {{gh-pluralize @post.email.emailCount "member"}}
    {{else if (and @post.emailOnly @post.isScheduled)}}
        <time datetime="{{@post.publishedAtUTC}}" class="ml1 green f8" data-test-schedule-countdown>
            Will be sent to <GhRecipientFilterCount @filter={{@post.emailRecipientFilter}} />
            {{this.scheduledTime}}
        </time>
    {{else if (or @post.isPublished @post.pastScheduledTime)}}
        已发布
        {{#if (or (eq @post.email.status "submitting") (eq @post.email.status "submitting"))}}
            and sending to {{gh-pluralize @post.email.emailCount "member"}}
        {{else if (eq @post.email.status "submitted")}}
            and sent to {{gh-pluralize @post.email.emailCount "member"}}
        {{/if}}
    {{else if @post.isScheduled}}
        <time datetime="{{@post.publishedAtUTC}}" class="ml1 green f8" data-test-schedule-countdown>
            待发布
            {{#if (and @post.emailRecipientFilter (not @post.email))}}
                and sent to <GhRecipientFilterCount @filter={{@post.emailRecipientFilter}} />
            {{/if}}
            {{this.scheduledTime}}
        </time>
    {{else if @post.isNew}}
        {{#if (eq this.post.displayName "page")}}
        新页面
        {{else if (eq this.post.displayName "post")}}
        新文章
        {{else}}
        新文章
    {{/if}}
    {{else}}
        草稿
        {{if (not @hasDirtyAttributes) "- 已保存"}}
    {{/if}}
</div>