<GhBasicDropdown @verticalPosition="below" @horizontalPosition="right" @onClose={{this.onDropdownClose}} as |dd|>

    <dd.Trigger
        class="gh-btn gh-btn-icon gh-btn-action-icon"
        data-test-button="members-filter-actions"
    >
        <span class="{{if @isFiltered "gh-btn-label-green"}}">
            {{svg-jar "filter"}}
            Filter
            {{#if @isFiltered}}
            ({{totalFilters}})
            {{/if}}
        </span>
    </dd.Trigger>

    <dd.Content class="gh-member-actions-menu gh-filter-builder gh-members-filter-builder dropdown-menu dropdown-triangle-top-right">
        <h3>筛选</h3>
        <section class="gh-filters">
            {{#each this.filters as |filter|}}
                <div class="gh-filter-block">
                    <GhFormGroup @property={{filter.id}} @classNames="max-width">
                        <div class="gh-filter-inputgroup">
                            <span class="gh-select">
                                <OneWaySelect
                                    @value={{filter.type}}
                                    @options={{this.availableFilterProperties}}
                                    @optionValuePath="name"
                                    @optionLabelPath="label"
                                    @optionTargetPath="name"
                                    @groupLabelPath="group"
                                    @update={{fn this.setFilterType filter.id}}
                                />
                                {{svg-jar "arrow-down-small"}}
                            </span>
                            <span class="gh-select">
                                <OneWaySelect
                                    @value={{filter.relation}}
                                    @options={{filter.relationOptions}}
                                    @optionValuePath="name"
                                    @optionLabelPath="label"
                                    @optionTargetPath="name"
                                    @update={{fn this.setFilterRelation filter.id}}
                                />
                                {{svg-jar "arrow-down-small"}}
                            </span>
                            <GhMembersFilterValueLabs
                                @filter={{filter}}
                                @setFilterValue={{this.setFilterValue}}
                                @onLabelEdit={{@onLabelEdit}}
                            />
                            <button
                                type="button"
                                class="gh-btn gh-btn-text gh-btn-link gh-btn-icon gh-delete-filter"
                                title="Delete filter"
                                {{on "click" (fn this.deleteFilter filter.id)}}
                            >
                                {{svg-jar "close"}} <span class="hidden">删除筛选条件</span>
                            </button>
                        </div>
                    </GhFormGroup>
                </div>
            {{/each}}
            <div>
                <button type="button"
                    class="gh-btn gh-btn-text gh-btn-link green gh-btn-icon gh-add-filter"
                    {{on "click" this.addFilter}}
                >
                    <span>{{svg-jar "add"}} 添加筛选条件</span>
                </button>
            </div>
        </section>
        <div class="gh-filter-builder-footer">
            <button
                class="gh-btn"
                {{on "click" this.resetFilter}}
            >
                <span>重置所有</span>
            </button>
            <button
                class="gh-btn gh-btn-primary"
                data-test-button="members-apply-filter"
                {{on "click" this.applyFilter}}
            >
                <span>应用筛选</span>
            </button>
        </div>
    </dd.Content>

</GhBasicDropdown>
