<div class="gh-roles-container" {{did-insert (perform this.fetchRolesTask)}}>
    {{#if this.fetchRolesTask.isRunning}}
        {{!-- width and height are needed to avoid layout shift after roles have loaded --}}
        <div style="width: 486px; height: 268px">
            <GhLoadingSpinner />
        </div>
    {{else}}
    <div class="gh-radio {{if (eq @selected.name "Contributor") "active"}}" {{on "click" (fn this.setRole "Contributor")}} data-test-option="Contributor">
        <div class="gh-radio-button"></div>
        <div class="gh-radio-content">
            <div class="gh-radio-label">贡献者</div>
            <div class="gh-radio-desc">可以创建和编辑自己的文章，但不能发布。 需管理员为它们审批和发布。</div>
        </div>
        <div>
            {{!-- Inner container collapses height to the SVG so popover can align correctly --}}
            <div>
                {{svg-jar "info"}}
                <EmberPopover @tooltipClass="popover" @arrowClass="popover-arrow" @side="left">
                    <table>
                        <tbody>
                            <tr>
                                <td class="left">设置</td>
                                <td>查看和编辑自己的个人资料</td>
                            </tr>
                            <tr>
                                <td class="left">文章</td>
                                <td>创建和编辑自己的文章草稿</td>
                            </tr>
                        </tbody>
                    </table>
                </EmberPopover>
            </div>
        </div>
    </div>

    <div class="gh-radio {{if (eq @selected.name "Author") "active"}}" {{on "click" (fn this.setRole "Author")}} data-test-option="Author">
        <div class="gh-radio-button"></div>
        <div class="gh-radio-content">
            <div class="gh-radio-label">作者</div>
            <div class="gh-radio-desc">可以创建、编辑和发布自己的文章，但不能修改其他作者的文章。</div>
        </div>
        <div>
            {{!-- Inner container collapses height to the SVG so popover can align correctly --}}
            <div>
                {{svg-jar "info"}}
                <EmberPopover @tooltipClass="popover" @arrowClass="popover-arrow" @side="left">
                    <table>
                        <tbody>
                            <tr>
                                <td class="left">设置</td>
                                <td>查看和编辑自己的个人资料</td>
                            </tr>
                            <tr>
                                <td class="left">用户</td>
                                <td>浏览用户</td>
                            </tr>
                            <tr>
                                <td class="left">文章</td>
                                <td>查看、编辑和发布自己的文章，生成别名</td>
                            </tr>
                            <tr>
                                <td class="left">标签</td>
                                <td>添加标签</td>
                            </tr>
                        </tbody>
                    </table>
                </EmberPopover>
            </div>
        </div>
    </div>

    <div class="gh-radio {{if (eq @selected.name "Editor") "active"}}" {{on "click" (fn this.setRole "Editor")}} data-test-option="Editor">
        <div class="gh-radio-button"></div>
        <div class="gh-radio-content">
            <div class="gh-radio-label">编辑者</div>
            <div class="gh-radio-desc">可以邀请和管理其他作者和贡献者，以及编辑和发布网站上的任何文章。</div>
        </div>
        <div>
            {{!-- Inner container collapses height to the SVG so popover can align correctly --}}
            <div>
                {{svg-jar "info"}}
                <EmberPopover @tooltipClass="popover" @arrowClass="popover-arrow" @side="left">
                    <table>
                        <tbody>
                            <tr>
                                <td class="left">设置</td>
                                <td>查看和编辑自己的个人资料</td>
                            </tr>
                            <tr>
                                <td class="left">用户</td>
                                <td>浏览用户、管理作者和投稿人(邀请、撤销、删除)</td>
                            </tr>
                            <tr>
                                <td class="left">文章</td>
                                <td>创建、发布、编辑和删除所有文章，生成别名</td>
                            </tr>
                            <tr>
                                <td class="left">标签</td>
                                <td>编辑、添加和删除标签</td>
                            </tr>
                        </tbody>
                    </table>
                </EmberPopover>
            </div>
        </div>
    </div>

    <div class="gh-radio {{if (eq @selected.name "Administrator") "active"}}" {{on "click" (fn this.setRole "Administrator")}} data-test-option="Administrator">
        <div class="gh-radio-button"></div>
        <div class="gh-radio-content">
            <div class="gh-radio-label">管理员</div>
            <div class="gh-radio-desc">能够管理所有内容和用户，以及网站设置和选项。</div>
        </div>
        <div>
            {{!-- Inner container collapses height to the SVG so popover can align correctly --}}
            <div>
                {{svg-jar "info"}}
                <EmberPopover @tooltipClass="popover" @arrowClass="popover-arrow" @side="left">
                    <table>
                        <tbody>
                            <tr>
                                <td class="left">设置</td>
                                <td>访问除 Stripe 设置之外的所有设置</td>
                            </tr>
                            <tr>
                                <td class="left">用户</td>
                                <td>管理所有用户(邀请、撤销、删除)</td>
                            </tr>
                            <tr>
                                <td class="left">文章</td>
                                <td>创建、发布、编辑和删除所有文章，生成别名</td>
                            </tr>
                            <tr>
                                <td class="left">标签</td>
                                <td>编辑、添加和删除标签</td>
                            </tr>
                            <tr>
                                <td class="left">数据</td>
                                <td>导入、导出和删除所有内容</td>
                            </tr>
                            <tr>
                                <td class="left">电子邮件</td>
                                <td>发送推送和测试电子邮件</td>
                            </tr>
                        </tbody>
                    </table>
                </EmberPopover>
            </div>
        </div>
    </div>


    <div class="gh-content-box pa" hidden={{if this.limitErrorMessage false true}}>
        {{html-safe this.limitErrorMessage}} 要使用选定的用户角色，请升级到其他计划。
    </div>
    {{/if}}
</div>