<header class="modal-header" data-test-modal="delete-user">
    <h1>您确定要删除此用户吗？</h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">关闭</span></a>

<div class="modal-body">
    {{#if this.user.count.posts}}
        <p>
            <strong>{{this.user.name}}</strong> 以及他们的 <strong data-test-text="user-post-count">{{gh-pluralize this.user.count.posts 'post'}}</strong> 将被永久删除。 如果你不想失去这些文章，你应该把它们分配给不同的作者。
        </p>
        <p>
            在删除之前，备份将自动下载到您的设备。
        </p>
    {{else}}
        <p>
            <strong>{{this.user.name}}</strong> 将被永久删除。在删除之前，备份将自动下载到您的设备。
        </p>
    {{/if}}
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn" data-test-button="cancel-delete-user">
        <span>取消</span>
    </button>
    <GhTaskButton @buttonText="Download backup & delete user"
        @successText="Deleted"
        @task={{this.deleteUser}}
        @class="gh-btn gh-btn-red gh-btn-icon"
        data-test-button="confirm-delete-user" />
</div>
