<header class="modal-header" data-test-modal="invite-staff-user">
    <h1>邀请新成员</h1>
    <p>发送邀请，邀请用户在您的网站上创建帐户，并设置他们的角色。</p>
</header>
{{!-- disable mouseDown so it doesn't trigger focus-out validations --}}
<a class="close" href role="button" title="Close" {{action "closeModal"}} {{action (optional this.noop) on="mouseDown"}}>
    {{svg-jar "close"}}<span class="hidden">关闭</span>
</a>

<div class="modal-body">
    <fieldset>
        <GhFormGroup @errors={{this.errors}} @hasValidated={{this.hasValidated}} @property="email">
            <label for="new-user-email">电子邮件地址</label>
            <GhTextInput
                @class="email"
                @id="new-user-email"
                @type="email"
                @placeholder="youremail@example.com"
                @name="email"
                @shouldFocus={{true}}
                @autocapitalize="off"
                @autocorrect="off"
                @value={{readonly email}}
                @input={{action (mut email) value="target.value"}}
                @keyEvents={{hash
                    Enter=(action "confirm")
                }}
            />
            <GhErrorMessage @errors={{this.errors}} @property="email" />
        </GhFormGroup>

        <GhRoleSelection
            @selected={{this.role}}
            @setRole={{this.setRole}}
            @onValidationSuccess={{action "roleValidationSucceeded"}}
            @onValidationFailure={{action "roleValidationFailed"}}
        />
    </fieldset>
</div>

<div class="modal-footer">
    {{#if this.limitErrorMessage}}
        <GhTaskButton @buttonText="升级我的计划 &rarr;"
            @task={{this.transitionToBilling}}
            @class="gh-btn gh-btn-green gh-btn-icon"
            @disableMouseDown="true"
            data-test-button="upgrade-my-plan" />
    {{else}}
        <GhTaskButton @buttonText="立即发送邀请 &rarr;"
            @successText="Sent"
            @task={{this.sendInvitation}}
            @class="gh-btn gh-btn-black gh-btn-icon"
            @disabled={{this.fetchRoles.isRunning}}
            @disableMouseDown="true"
            data-test-button="send-user-invite" />
    {{/if}}
</div>
