<div class="modal-content" {{on-key "Enter" (perform this.deleteThemeTask)}} data-test-modal="delete-theme">
    <header class="modal-header">
        <h1>您确定要删除此内容吗？</h1>
    </header>
    <button type="button" class="close" role="button" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">关闭</span></button>

    <div class="modal-body">
        <p>您即将删除 "<strong>{{@data.theme.name}}</strong>"。这是永久性的！确认？也许吧 <a href="#" {{on "click" this.downloadTheme}}>download your theme before continuing</a></p>
    </div>

    <div class="modal-footer">
        <button {{on "click" (fn @close false)}} class="gh-btn" data-test-button="cancel"><span>留下</span></button>
        <GhTaskButton
            @buttonText="Delete"
            @successText="Deleted"
            @task={{this.deleteThemeTask}}
            @class="gh-btn gh-btn-red gh-btn-icon"
            data-test-button="confirm" />
    </div>
</div>