<div class="modal-content" {{on-key "Enter" (perform this.deletePostTask)}}>
    <header class="modal-header">
        <h1>您确定要删除此文件吗 {{@data.post.displayName}}?</h1>
    </header>
    <button type="button" class="close" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">关闭</span></button>

    <div class="modal-body">
        <p>
            您即将删除 "<strong>{{@data.post.title}}</strong>".
            这是永久性的！确认？
        </p>
    </div>

    <div class="modal-footer">
        <button type="button" class="gh-btn" {{on "click" @close}}><span>取消</span></button>
        <GhTaskButton
            @buttonText="Delete"
            @successText="Deleted"
            @task={{this.deletePostTask}}
            @class="gh-btn gh-btn-red gh-btn-icon"
        />
    </div>
</div>